@use '@styles/variables.scss' as *;

.inputWrapper {
  display: flex;
  align-items: center;
  background: var(--input-bg);
  height: 52px;
  border: 1px solid var(--input-border);
  gap: $space-xxs;
  padding: $space-s $space-xs;
  justify-content: space-between;

  &:focus-within {
    border: 1px solid var(--brand);
  }

  &:has(.inputField:disabled) {
    background: var(--input-bg-disabled);
    border: 1px solid var(--input-border-disabled);
  }
}

.inputField::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--input-placeholder);
}

.inputField {
  height: 20px;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: var(--input-text);
  
  &:disabled {
    color: var(--input-text-disabled);
  }
}

.inputIcon {
  display: flex;
  align-items: center;
  margin-left: $space-xxs;
}
