.root {
    width: 24px;
    height: 24px;
  
    &.primary {
      color: var(--text-primary);
    }
  
    &.secondary {
      color: var(--text-secondary);
    }
  
    &.accent {
      color: var(--text-accent);
    }
  } 