@use '@styles/variables.scss' as *;
@use '@styles/mixins.scss' as *;

.navigation {
  @include flex-center;
  gap: 48px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  @include respond(md) {
    gap: 32px;
  }
  
  @include respond(sm) {
    display: none;
  }
}

.navLink {
  cursor: pointer;
  transition: color 0.2s ease;
  white-space: nowrap;
  position: relative;
  padding: $space-s 0;
  text-decoration: none;
  
  &:hover {
    color: var(--text-accent);
  }
}

.navLinkActive {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--text-accent);
  }
}
