@use '@styles/variables.scss' as *;

.multiDropdown {
  position: relative;
  width: 100%;
}

.arrowIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  user-select: none;
  
  &:hover {
    opacity: 0.7;
  }
  
  &:active {
    opacity: 0.5;
  }
}

.arrowIconOpen {
  transform: rotate(180deg);
}

.dropdownOptions {
  position: absolute;
  width: 100%;
  background: var(--dropdown-options-bg);
  border: 1px solid var(--brand);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  margin-top: $space-xxs;
}

.dropdownOption {
  padding: $space-s $space-xs;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--text-primary);
  cursor: pointer;

  &:hover {
    color: var(--text-secondary);
  }

  &.selected {
    color: var(--text-accent);
  }
}

.selectedClosed {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--input-text);
}
