@use '@styles/variables.scss' as *;

.btn {
  padding: $space-s $space-l;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-xxs;
  height: 52px;
  background-color: $button-primary-bg;
  color: $button-primary-text;
  font-size: 18px;
  line-height: 18px;
  border: none;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;

  &.btnDisabled {
    background-color: $button-primary-bg-disabled;
    color: $button-primary-text-disabled;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: $button-primary-bg-hover;
    color: $button-primary-text-hover;
  }

  &:not(:disabled):active {
    background-color: $button-primary-bg-active;
    color: $button-primary-text-active;
  }
}

.btnLoader {
  fill: currentColor;
}
